/*Utilitys*/

P {
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  background-color: #181c32;
  margin: 0;
}

html {
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  width: 100%;
}

h1 {
  font-size: 67px;
  font-weight: 500;
  font-size: larger;
  padding: 0px 60px;
  color: #fff;
  font-family: "Exo 2", sans-serif;
}

/*nav*/

.icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  display: flex;
  margin-right: 5px;
}

.nav-menu {
  color: white;
  padding: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-left: auto;
  margin-right: 90px;
  position: relative;
}
/*header*/

.logo {
  display: flex;
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
  cursor: pointer;
}

.hero-heading {
  color: #fff;
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  border: 2px solid;
  border-radius: 15px;
  background-color: #292c3a;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero-subtitle {
  color: #fff;
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  border: 2px solid;
  border-radius: 15px;
  background-color: #292c3a;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
header {
  height: 40px;
  margin-left: 15px;
  padding: 10px 60px 0;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 15px;
  background-color: #292c3a;
  align-items: center;
  display: flex;
  font-family: "Exo 2", sans-serif;
  margin-top: 10px;
}

header ul {
  display: flex;
  /* vertically align the content in the header */
  align-items: center;
  /* set a fixed height */
  height: 40px;
  margin-left: 15px;
  padding: 0 60px;
  margin-bottom: 30px;
  list-style-type: none;
  justify-content: center;
}

/*footer*/
footer {
  margin-top: auto;
  width: 93%;
  height: 80px;
  display: inline-flex;
  left: 0;
  bottom: 0;
  font-family: "Exo 2", sans-serif;
}

footer a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
}

footer ul {
  width: 93%;
  height: 80px;
  display: flex;
  left: 0;
  bottom: 0;
  list-style-type: none;
}

footer a:hover {
  text-decoration: underline;
}
footer i {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #181c32;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

/*stuff*/
.container {
  font-family: "Exo 2", sans-serif;
  background: #45454521;
  box-sizing: border-box;
  width: 300px;
  height: 246px;
  padding: 30px;
  border: 2px solid rgb(0 0 0 / 64%);
  border-radius: 9px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #292c3a;
  margin-bottom: 30px;
}
