/*Utilitys*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  background-color: #181c32;
  margin: 0;
}

html {
  padding: 0px;
  margin: 0px;
  overflow-y: scroll;
  width: 100%;
}

h1 {
  font-size: 67px;
  font-weight: 500;
  font-size: larger;
  padding: 0px 60px;
  color: #fff;
  font-family: "Exo 2", sans-serif;
}

/*nav*/

.icon {
  width: 25px;
  height: 25px;
  fill: #fff;
  display: flex;
  margin-right: 5px;
}

.nav-menu {
  color: white;
  padding: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-left: auto;
  margin-right: 90px;
  position: relative;
}

/*search box */

button[type="submit"] {
  text-align: center;
  margin: 10px 0 10px 10px;
  box-sizing: border-box;
  background-color: #292c3a;
  border-color: #000000;
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
  padding: 15px;
}

input[type="text"] {
  text-align: center;
  width: 52.5%;
  padding: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 10px;
  border-color: #000000;
  background-color: #292c3a;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  font-family: "Exo 2", sans-serif;
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*header*/

.logo {
  display: flex;
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
  cursor: pointer;
}

.hero-heading {
  color: #fff;
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  border: 2px solid;
  border-radius: 15px;
  background-color: #292c3a;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
header {
  height: 40px;
  margin-left: 15px;
  padding: 10px 60px 0;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 15px;
  background-color: #292c3a;
  align-items: center;
  display: flex;
  font-family: "Exo 2", sans-serif;
  margin-top: 10px;
}

header ul {
  display: flex;
  /* vertically align the content in the header */
  align-items: center;
  /* set a fixed height */
  height: 40px;
  margin-left: 15px;
  padding: 0 60px;
  margin-bottom: 30px;
  list-style-type: none;
  justify-content: center;
}

/*footer*/
footer {
  margin-top: auto;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  margin: 0 15px;
  width: 93%;
  align-self: center;
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  left: 0;
  bottom: 0;
  list-style-type: none;
}

footer i {
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #181c32;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
