@import '../variables.css';
/* Utilitys */
p {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
}

h1 {
  font-size: 67px;
  font-weight: 500;
  font-size: larger;
  padding: 0 60px;
  color: var(--text-color);
  font-family: var(--font);
}

/* nav */
.icon {
  width: 25px;
  height: 25px;
  fill: var(--text-color);
  display: flex;
  margin-right: 5px;
}

.nav-menu {
  color: var(--text-color);
  padding: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  margin-left: auto;
  margin-right: 90px;
  position: relative;
}

/* header */
.logo {
  display: flex;
  font-size: 25px;
  text-align: left;
  margin-bottom: 30px;
  cursor: pointer;
}

.hero-heading,
.hero-subtitle {
  color: var(--text-color);
  font-size: 80px;
  line-height: 85px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-flex;
  border: 2px solid;
  border-radius: 15px;
  background-color: var(--text-bg-color);
  border-color: var(--border-color);
  padding: 10px;
  font-family: var(--font);
}

.hero-subtitle {
  padding: 0 20px;
  font-family: var(--font);
}

header {
  height: 40px;
  margin-left: 15px;
  padding: 10px 60px 0;
  margin-bottom: 30px;
  border: 2px solid;
  border-radius: 15px;
  background-color: var(--text-bg-color);
  align-items: center;
  display: flex;
  font-family: var(--font);
  margin-top: 10px;
}

header ul {
  display: flex;
  /* vertically align the content in the header */
  align-items: center;
  /* set a fixed height */
  height: 40px;
  margin-left: 15px;
  padding: 0 60px;
  margin-bottom: 30px;
  list-style-type: none;
  justify-content: center;
}

/* footer */
footer {
  margin-top: auto;
  width: 93%;
  height: 80px;
  display: flex;
  left: 0;
  bottom: 0;
  font-family: var(--font);
}

footer a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 15px;
  cursor: pointer;
  margin-right: 5px;
}

footer a:hover {
  text-decoration: underline;
}

footer ul {
  width: 93%;
  height: 80px;
  display: flex;
  left: 0;
  bottom: 0;
  list-style-type: none;
}

footer i {
  margin-right: 5px;
}

/* settings container thing */
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 75px;
}

.settings-div {
  font-family: var(--font);
  box-sizing: border-box;
  width: 300px;
  height: 246px;
  padding: 30px;
  border: 2px solid var(--border-color);
  border-radius: 9px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: var(--text-bg-color);
  margin-bottom: 30px;
}

/* settings stuff */
#select-browser {
  font-family: var(--font);
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: inherit;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.5s;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  border-radius: 10px;
  text-align: center;
}

.title::placeholder {
  opacity: 1;
}

.title-container {
  margin-top: 50px;
}

button,
.select-proxy,
input {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: inherit;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.5s;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  border-radius: 10px;
  text-align: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-color: var(--border-color);
  border: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover-color);
  border-radius: 10px;
}
